@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap");
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -500px;
    font-family: "Playfair Display", serif;
    background-color: #e2e2e2;
    background: url("../img/2137fcd7490fca84e3fd446cdee941db.jpg");
}

.nav-bar-desktop {
    background-color: rgba(255 255 255 / 62%);
    top: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "PT Sans";
    font-size: 20px;
}

.nav-div {
    width: 33%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.img-logo {
    height: 150px;
    top: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.img-header {
    background: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

main {
    background: #fff;
    margin-left: 4px;
    margin-right: 4px;
}

header {
    border-top-left-radius: 15px;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

nav {
    background: #ffe6df;
    margin-left: 4px;
    margin-right: 4px;
}

footer {
    margin-left: 4px;
    margin-right: 4px;
    height: 150px;
}

.swiper-container {
    width: 250px;
    height: 150px;
    background-color: #ffa7b5;
}

.icons {
    height: 40px;
    margin: -6px 9px;
    color: aliceblue;
    padding: 7px;
    background-color: rgba(255, 255, 255, 62%);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    cursor: pointer;
}

.nav-icons {
    width: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 181px;
    left: 78%;
}

.menu-desktop {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.dropdown-content {
    background-color: rgba(255 255 255 / 62%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 35px;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-29px);
}

.menu-movel:hover .dropdown-content {
    display: block;
}

.menu-button {
    background-color: #0400ff;
}

.menu-drop-letter {
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(to bottom, #ffe6df, #ff7894);
    width: 100%;
    border-radius: 5px;
}

.menu-drop-letter img {
    height: 25px;
}

.menu-movel {
    display: block;
}

.multi-button {
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.multi-button button {
    height: 50px;
    width: 21%;
    background: linear-gradient(to bottom, #ffe6df, #ff7894);
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: -15px;
    padding: 0;
    stroke: black;
    outline: none;
}

.multi-button :nth-child(1) {
    border-radius: 0 0 0 20px;
}

.multi-button :nth-child(5) {
    border-radius: 0 0 20px 0;
}

button:hover {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}

button:active {
    filter: none;
    transform: scale(1.05);
}

.container-bolinhas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.bolinhas {
    border-radius: 50%;
    padding: 2px;
    margin: 2px;
    border: 1px #ff7894 solid;
    width: 17%;
}

.container-content {
    width: 96%;
    height: 65vw;
    max-height: 454px;
    background: #ffe6df;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 0.9rem;
}

h4 {
    font-weight: 200;
    font-size: 0.9rem;
    margin: 0px;
}

.container-box {
    width: 33%;
    background-color: #ffa8b5;
    margin: 3px;
    padding: 5px;
}

.img-container {
    width: 100%;
}

.flutuante {
    position: relative;
    top: 50px;
}

.flutuante-sobrepor {
    top: 100px;
}

.div-abaixo {
    width: 61%;
    left: 20%;
    border: red solid 1px;
    padding-right: 26%;
}

.container-content2 {
    margin-top: 29%;
    margin-bottom: 9%;
    width: 77%;
    height: 15%;
    max-height: 300px;
    background: #ffe6df;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    float: left;
}

.meia-div {
    left: 10%;
}

.container-filha-1,
.container-filha-3 {
    width: 30%;
}

.container-filha-2 {
    width: 40%;
    padding: 10px;
}

.container-filha-3 {
    position: relative;
    left: 5%;
}

.container-redes {
    width: 100%;
    height: 25%;
    max-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-social {
    align-items: center;
    margin: 0 auto;
    background: #ffe6e0;
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.container-social:nth-of-type(1),
.container-social:nth-of-type(3) {
    transform: translateY(-25%);
    background-color: #ffe6e0;
}

.container-social:nth-of-type(3) {
    transform: translateY(-25%);
    background-color: #ffe6e0;
}

.social-img {
    width: 90%;
    border-radius: 20%;
    margin: 5% auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.instagran {
    width: 110px;
    height: 80px;
    transform: translateY(-25%);
}

.container-instagran {
    width: 100%;
    text-align: center;
}

.logo {
    width: 100px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 122px;
    margin-top: 10px;
}

hr {
    margin-top: 14%;
    border: 1px dashed #ffe6e0;
}

.logo-children {
    width: 100%;
    height: 100%;
}

footer {
    left: 0;
    bottom: 0;
    background-color: black;
    color: #ffa6b5;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -20px;
    flex-wrap: wrap;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
    background-image: url("/img/fundofooter.png");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), /* bottom, image */
    url("../img/fundofooter.png");
}

.container-footer {
    width: 25%;
    /* border-right: 2px solid black; */
}

.middle {
    width: 50%;
}

.footer-menu {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    list-style-type: none;
    height: 50%;
}

.footer-menu:nth-of-type(1)>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-menu h4 {
    font-size: 20px;
    font-style: italic;
}

.footer-menu h2 {
    font-size: 60px;
}

.footer-menu>div {
    height: 30px;
}

.container-footer:nth-of-type(3)>.footer-menu {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
    list-style-type: none;
    height: 50%;
}

a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffa6b5;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn {
    letter-spacing: 0.8px;
    padding: 10px 12px;
    background: #ffa6b5;
    border-radius: 24px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid #b5b5b5;
    border-color: #ffa6b5;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    min-width: 100px;
    height: 38px;
}

input[type="text"] {
    margin: 0;
    color: #999;
    padding: 11px !important;
    text-align: left;
    width: 100% !important;
    outline: none;
    border: 0;
    font-size: 14px;
    background-color: #fff;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}

button,
footer input[type="submit"]:hover {
    padding: 10px 13px;
    margin: 0;
    background-color: #ff7e94;
    color: #fff;
    text-align: center;
    outline: none;
    border: 0;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #fac4c4;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
}

.container-footer:nth-of-type(3)>.footer-menu {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
    list-style-type: none;
    height: 50%;
}

div.container-footer.middle>div {
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

body footer div h2 {
    font-weight: 900;
    font-size: large;
}

.footer-menu {
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    list-style-type: none;
    height: 50%;
}

@media (max-width: 650px) {
    .container-filha-3 {
        left: 3%;
    }
}

@media (max-width: 600px) {
    .menu-movel {
        display: flex;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(255 255 255 / 62%);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 25px;
        width: 100px;
        top: 205px;
    }
    .menu-movel:hover .dropdown-content {
        display: block;
    }
    .multi-button {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .menu-drop-letter {
        font-size: 25px;
    }
    .multi-button button {
        margin-top: -5px;
        width: 100%;
    }
    .multi-button :nth-child(5) {
        border-radius: 0 0 20px 20px;
    }
    .multi-button :nth-child(1) {
        border-radius: 20px 20px 0 0;
    }
    .nav-icons {
        left: 68%;
        top: 123px;
        width: 40px;
    }
    .icons {
        height: 28px;
    }
    .img-logo {
        height: 120px;
    }
    body>header>div>div.nav-icons {
        top: 131px;
    }
    .footer-menu {
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px;
        list-style-type: none;
        height: 100%;
    }
    .container-content2 {
        width: 100%;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 36%;
        margin-bottom: 29%;
    }
    .container-filha-2 {
        width: 62%;
    }
    .container-filha-3 {
        position: relative;
        width: 100%;
        left: 0px;
    }
    .container-filha-1 img {
        float: left;
    }
    div.container-redes>div:nth-child(1) {
        order: 2;
    }
    div.container-redes>div:nth-child(2) {
        order: 3;
    }
    .container-redes {
        flex-wrap: wrap;
        max-height: 334px;
        flex: 1 0 20%;
    }
    .container-social {
        flex: 3 0 33%;
        margin: 5px;
        height: 166px;
        width: 166px;
        max-width: 166px;
        max-height: 166px;
    }
    .container-social:nth-of-type(2n+1) {
        transform: translateY(-8%);
    }
    .logo-footer {
        height: 167px;
        transform: translateY(27px);
    }
    footer {
        height: 200px;
        margin-top: -25px;
        transform: translateY(0px);
    }
    .footer-menu {
        height: 0px;
    }
    .img-header {
        height: 217px;
    }
    div.container-footer.middle>div {
        flex-direction: column;
    }
    div.container-footer.middle>div>input[type="text"] {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    div.container-footer.middle>div>input[type="submit"] {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
        width: 100% !important;
    }
    .container-content {
        height: 393vw;
    }
    #carrinho,
    #busca {
        margin-left: 16% !important;
        margin-top: -30%;
        width: 281px !important;
    }
    #produto {
        width: 163px !important;
    }
    .menu-drop-letter img {
        margin-left: 16px;
        margin-top: 9px;
    }
    div.container-redes>div:nth-child(2)>h3 {
        font-size: 12px;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: "Playfair Display", serif;
        font-size: 01rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-style: italic;
        font-weight: 400;
        font-size: 0.8rem;
    }
    h4 {
        font-weight: 200;
        font-size: 0.7rem;
        margin: 0px;
    }
    .logo-children {
        margin-top: 29px;
    }
}

#loja {
    background-color: #ffe6e0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#produto {
    background-color: #ffa7b5;
    border: solid #ffe6df 1px;
    width: 170px;
    margin: 1vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

#produto img {
    height: 150px;
    margin: 0 auto;
    display: flex;
}

#produto h2 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#loja div {
    background-color: #ffa7b5;
}

#loja div div {
    display: flex;
    flex-wrap: wrap;
    white-space: break-spaces;
    height: 50px;
    width: 100%;
}

#aviso {
    background-color: #ffe5e0;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    border-radius: 50%;
    top: -20px;
    left: 18px;
    display: none;
    text-align: center;
}

#aviso h2 {
    margin-top: 3px;
}

#carrinho,
#busca {
    width: 289px;
    background-color: #ffe5e0;
    position: absolute;
    top: 331px;
    display: none;
    left: 0;
    right: 0;
    margin-left: 50%;
    margin-right: auto;
    min-height: 53px;
    padding: 20px 8px 8px 8px;
    border-radius: 0 0 10px 10px;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}

#busca .btn {
    width: 50px;
}

.carrinho_produto {
    background-color: #ffa6b5;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.carrinho_produto h2 {
    padding: 5px;
    margin: 5px;
}

#buscou {
    width: 160px !important;
    margin-top: 1px;
    padding: 11px !important;
    margin-right: -5px;
}

div.container-footer.middle>div>input.btn {
    width: 50px;
}