footer {
    background: #263238;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    margin: 30px;
    border-radius: 15px;
}

@media (max-width: 767px) {
    footer {
        margin: 15px;
    }
}

footer .newsletter {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

footer .newsletter .left {
    width: 50%;
}

@media (max-width: 767px) {
    footer .newsletter .left {
        margin-bottom: 30px;
        width: 100%;
    }
}

footer .newsletter .right {
    width: 35%;
    text-align: center;
    padding-top: 120px;
}

@media (max-width: 767px) {
    footer .newsletter .right {
        width: 100%;
        padding-top: 0;
    }
}

footer .newsletter p {
    margin-bottom: 15px;
}

footer .newsletter form {
    border-radius: 34px;
    overflow: hidden;
    display: flex;
    margin-right: 30px;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    footer .newsletter form {
        width: 100%;
    }
}

footer .newsletter form.mimi_submitting {
    background: #263238;
    box-shadow: 0px 3px 6px transparent;
}

footer .newsletter form.mimi_submitting .mimi_field {
    flex-direction: column;
}

footer .newsletter form.mimi_submitting .mimi_field h2 {
    display: none;
}

footer .newsletter form.mimi_submitting .mimi_field p {
    color: #fff;
    margin-bottom: 0;
}

footer .newsletter form .mimi_field {
    display: flex;
}

footer .newsletter form .mimi_field.required {
    width: 100%;
}

input {
    font: italic 14px/24px "Montserrat", sans-serif;
    letter-spacing: 0.8px;
    border: 0;
    padding: 0 15px;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    footer .newsletter form input[type="text"] {
        font: italic 12px/22px "Montserrat", sans-serif;
        width: 63%;
    }
}

form .btn,
form .disabled {
    font: 600 12px/22px "Montserrat", sans-serif;
    letter-spacing: 0.8px;
    padding: 10px 15px;
    background: #ff6d00;
    border-radius: 24px;
    border: 1px solid #b5b5b5;
    border-color: #ff6d00;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    min-width: 120px;
    transform: scale(1.05);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #ffa000;
}

footer .newsletter form .btn:hover,
footer .newsletter form .disabled:hover {
    background: #ffa000;
    border-color: #ffa000;
}

footer .newsletter form .btn:hover,
footer .newsletter form .disabled:hover {
    background: #ff6d00;
}

footer .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    border-color: #fff;
    padding-top: 60px;
}

@media (max-width: 767px) {
    footer .top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

footer .top .column {
    flex: 1;
}

footer .top .column:first-child {
    flex: 3;
}

@media (max-width: 767px) {
    footer .top .column:first-child {
        order: 4;
        padding-top: 30px;
    }
}

footer .top .column .logo {
    border-bottom: 1px solid #b5b5b5;
    border-color: #fff;
    margin-bottom: 15px;
    width: max-content;
}

@media (max-width: 767px) {
    footer .top .column .logo {
        width: 100%;
    }
}

footer .top .column .logo img {
    width: 100px;
    margin-bottom: -25px;
    margin-top: -35px;
}

@media (max-width: 767px) {
    footer .top .column .logo img {
        margin-left: auto;
        margin-right: auto;
    }
}

footer .top .column .menu a {
    font: 14px/24px "Montserrat", sans-serif;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

footer .top .column .menu a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    background: #ff6d00;
    transform: translateX(-50%);
    transition: 0.3s;
}

footer .top .column .menu a:hover:after {
    opacity: 1;
    width: 110%;
}

footer .top .column .menu a .tooltip {
    font: 12px/16px "Montserrat", sans-serif;
    background: #ffa000;
    padding: 5px 15px;
    border-radius: 10px;
    position: absolute;
    width: max-content;
    bottom: calc(100% + 10px);
    left: 50%;
    color: #fff;
    transition: 0.3s;
}

@media (max-width: 767px) {
    footer .top .column .menu a .tooltip {
        display: none;
    }
}

footer .top .column .menu a .tooltip:after {
    content: "";
    border: 5px solid #ffa000;
    position: absolute;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: calc(100% - 5px);
    transform: rotate(-135deg);
    left: 20px;
}

footer .top .column .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

footer .top .column .social .icon {
    margin-right: 30px;
    transition: 0.3s;
    fill: #ffa000;
    width: 30px;
    height: 30px;
}

@media (max-width: 767px) {
    footer .top .column .social .icon {
        margin: 0 15px;
    }
}

footer .top .column .social .icon:hover {
    fill: #ff6d00;
    transform: scale(1.2);
}

footer .top .column p {
    font: 300 14px/24px "Montserrat", sans-serif;
}

footer .center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
}

footer .center .seal h4 {
    font: 16px/26px "Montserrat", sans-serif;
}

@media (max-width: 767px) {
    footer .center .seal h4 {
        text-align: center;
    }
}

footer .center .seal .content {
    padding-top: 26px;
    padding-bottom: 26px;
    margin: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    footer .center .seal .content li {
        width: 100%;
    }
}

footer .center .seal .content a {
    padding: 5px;
}

footer .center .seal .content a img {
    border-radius: 5px;
    height: 75px;
}

footer .bottom .copy {
    font: 300 14px/19px "Montserrat", sans-serif;
    text-align: center;
}

.newsletter-fixed {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 3px 6px #00000029;
    transform: translateY(100%);
    transition: 0.3s;
}

.newsletter-fixed.open {
    transform: translateY(0%);
}

.newsletter-fixed h5 {
    margin-bottom: 15px;
}

.newsletter-fixed form {
    border-radius: 34px;
    border: 1px solid #b5b5b5;
    overflow: hidden;
    display: flex;
    margin-right: 30px;
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    max-width: 550px;
    margin: 0 auto;
}

input {
    font: italic 16px/24px "Montserrat", sans-serif;
    letter-spacing: 0.8px;
    border: 0;
    padding: 0 15px;
    width: 100%;
}

.newsletter-fixed form .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}